/*
SDstyle.css 
S Dowling x21189994@student.ncirl.ie
28 02 2023
*/

html{
    scroll-behavior: smooth;
}
body{
    font-family: Helvetica;
    font-size:120%;
    margin:0%;
    padding:0;
}
.container{
    padding:0;
}
.column{
    justify-content:space-around;
    text-align:center;
    margin-top:80px;
}

p{
    font-size:85%;
}
#navbar{
    text-align:center;
    vertical-align: middle;
    padding-top:20px;
    background-image: url(Images/bgleaves.webp); 
    width:100%;
    position: sticky;
    top:0;
    padding-bottom:5px;
    z-index:1;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 20px;
}
.navbaritem{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-size:30px;
}
.titlecard{
    background: #206040;   
    color:white;
    text-align:center;
    padding:20px;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.headings{
    color: #206040;  
    text-align:center;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
li a{
    text-decoration: none;
    padding:10px;
  }
#navbar li a:hover {
    background: #aae3bb;
	color: black;
    opacity: 0.9;
    transition: 0.3s;
  }
.navboxitem{
    text-align: left;
    font-size: 32px;
    justify-content: space-between;
}
a{
    color:white;   
}
a:hover{
    color: #aae3bb;
    opacity: 0.9;
}
h1{
    text-decoration: bold;
}
.container{
    display:flex;
    flex-direction: column;
    width:100%;
}
#navbarcontainer{
    display:flex;
    flex-direction: column;
    width:100%;
    min-width:100%;
}
.divider{
    margin-bottom:20px;
}
#footer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    background-image: url(Images/bgleaves.webp); 
    height: auto;
    width: 100%;
    color:white;
}
.footerRow {
    display: flex;
    padding: 5px;
    justify-content: center;
    height: auto;
    width: 100%;
}
.footerBox {
    background: #206040;
    width: 25.7%;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-width: 0px 13px 0px 13px;
    border-color: black;
}
.footerBox2 {
    background: #206040;
    width: 25.8%;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: black;
}
.copyright {
    display: flex;
    background: #206040;
    width: 80%;
    padding: 15px;
    justify-content: center;
    border-style: solid;
    border-width: 0px 13px 0px 13px;
    border-color: black;
    margin-top: 10px;
}
#contactform{
    text-align:left;
    border-radius:5px;
    padding:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
input[type=text], select, textarea{
    width:100%;
    padding:5px;
    border-radius:5px;
    margin-top:5px;
    margin-bottom:10px;
    resize: vertical;
}
#query{
    height:250px;
}
input[type=submit]{
    background-color:white;
    color: #206040;
    border-radius:5px;
}
input[type=submit]:hover{
    background-color: #aae3bb;
    color:black;
    opacity: 0.9;
    transition: 0.3s;
}
img{
    border-radius:5px;
}
.itemimage{
    width:100%;
    min-height:600px;
    max-height:1300px;
}
#map {
    height: 100%;
    width:45%;
  }
#moreTextOne{
    display:none;
  }
/* mobile phones or devices smaller than 990 px */
@media only screen and (max-width: 990px){
    #navbar{
        display: flex;
		justify-content:space-evenly;
		width: 100%;
		flex-wrap: wrap;
        max-height:220px;
    }
    .navbaritem{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline;
        font-size:18px;
        border-radius:5px;
    }
    .navboxitem{
        text-align: left;
        font-size: 20px;
        justify-content: space-between;
    }
    #logo{
        margin:auto;
        max-height:120px;
        max-width:180px;
    }
    .headings{
        margin-top:-10px;
        margin-bottom:20px;
    }
    .itemimage{
        max-height:100px;
        width:100%;
        display:flex;
        flex-direction: column;
    }
    .column{
        display:flex;
        flex-direction: column;
    }
    #googlemap {
        max-height: 500%;
        max-width:250%;
      }
    #footer {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 20px;
		background-image: url(Images/PlantCarebackground.jpg);
		height: auto;
		width: 100%;
	}
    .footerRow {
		display: flex;
		flex-direction: column;
		padding: 5px;
		justify-content: space-evenly;
		height: auto;
		width: 100%;
	}
    .footerBox {
		background: #206040;
		width: 80%;
		padding: 10px;
		text-align: center;
		border-style: solid;
		border-width: 0px 13px 0px 13px;
		border-color: black;
		margin: auto;
	}
    .footerBox2 {
		background: #26734d;
		width: 80%;
		padding: 10px;
		text-align: center;
		border-style: solid;
		border-width: 0px 13px 0px 13px;
		border-color: black;
		margin: auto;
	}
    .copyright {
		display: flex;
		background: #26734d;
		width: 80%;
		padding: 10px;
		justify-content: center;
		text-align: center;
		border-style: solid;
		border-width: 0px 13px 0px 13px;
		border-color: black;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
	}
    #plantcare_IMG{
        display:none;
    }
    #itemone{
        order:1;
    }
    #plantbenefits_TXT{
        order:3;
    }
    #plantbenefits_IMG{
        margin-top:-80px;
        order:2;
    }
    #itemtwo{
        order:4;
    }
    #outdoorplants_TXT{
        order:6;
    }
    #outdoorplants_IMG{
        order:5;
    }
    #itemthree{
        order:7;
    }
    #indoorplants_IMG{
        order:9;
    }
    #indoorplants_TXT{
        order:8;
    }
    #itemfour{
        order:10;
    }
    #wallplants_IMG{
        order:12;
    }
    #wallplants_TXT{
        order:11;
    }
    #groundsmaintenance_TXT{
        order:13;
    }
    #itemfive{
        order:15;
    }
    #groundsmaintenance_IMG{
        order:14;
    }
    #groundsmaintenance_TXT{
        order:16;
    }
    #itemsix{
        order:17;
    }
    #waterplants_IMG{
        order:19;
    }
    #waterplants_TXT{
        order:18;
    }
}