/*Element type selectors:*/

body, html {
	color:white;
	font-family:Helvetica;
	background: #206040;
	font-size: 120%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

img {
	max-width: 100%;
}

ul {
	margin: 8px;
}

input[type=submit] {
	background: #143927;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	transition: 0.3s;
}

input[type=submit]:hover {
	color: black;
	background: #aae3bb;
}

a:hover {
  color: #aae3bb;
  opacity: 0.9;
}

/*Id selectors:*/

#banner {
	display: flex;
	justify-content: center;
	width: 100%;
	background: #143927;
}

#shop {
	display: flex;
	width: 75%;
}

#tocheckout{
	cursor: pointer;
}

#checkoutcontainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	min-height: 600px;
}

#creditdiv {
	display: none;
	background-color: #206040;
	padding: 4%;
}

#timer {
	display: flex;
	justify-content: center;
	background-image: url(Images/bgleaves.webp);
	height: auto;
	width: 100%;
	padding-bottom: 3px;
	padding-top: 3px;
	font-size: 150%;
}

#timer2 {
	display: flex;
	justify-content: center;
	background: #143927;
	height: auto;
	width: 100%;
	padding-bottom: 3px;
	padding-top: 3px;
	font-size: 150%;
}

#logo {
    border-radius:3px;
    float:left;  
}

#navbar {
	text-align: center;
	vertical-align: middle;
	padding-top: 0px;
	background-image: url(Images/bgleaves.webp);
	width: 100%;
	position: sticky;
	top: 0;
	padding-bottom: 0px;
	z-index: 1;
	justify-content: space-around;
	display: flex;
	align-items: center;
	padding: 20px;
}

#navbarcontainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 100%;
}
 
 /*Class selectors:*/

.checkouttext {
	display: flex;
	background: #206040;
	color: white;
	padding: 4%;
	height: auto;
	flex-direction: column;
}

.imageborder {
	display: flex;
	padding: 2%;
	background-color: #206040;
}

.checkoutborder {
	display: flex;
	padding: 4%;
	background-color: #206040;
}

.price {
	background: #143927;
	width: 100%;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	transition: 0.3s;
	cursor: pointer;
}

.plant {
	display: flex;
}

.description {
	display: flex;
}

.banner {
	width: 100%;
}

.image {
	display: flex;
	background: white;
	max-width: auto;
}

.socialimg {
	height: auto;
	max-width: 100%;
	margin-left: 2px;
	margin-right: 2px;
}

.copyrightlogo {
	height: auto;
	max-width: 100%;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 0px;
}

.text {
	display: flex;
	background: #206040;
	color: white;
	padding: 2%;
	height: 160px;
}

.navcontainer {
	display:flex;
	flex-direction: column;
	width:100%;
}

.navbaritem {
	list-style-type: none;
	padding: 0;
	display: inline;
	font-size: 30px;
	border-radius: 5px;
}

/*Tooltip code:*/

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	font-size: 80%;
	width: 200px;
	background-color: #206040;
	color: #fff;
	text-align: center;
	border-radius: 0px 0px 6px 0px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 0%;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #206040 transparent transparent;
}

/*Pseudo-type selectors:*/

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

.hovergreen:hover {
	color: #aae3bb;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

#navbar li a:hover {
	background: #aae3bb;
	color: black;
	opacity: 0.9;
	transition: 0.3s;
}

.plant:hover {
	opacity: 0.9;
}

.findoutmore:hover {
	background: #aae3bb;
}

.price:hover {
	background: #aae3bb;
	color: black;
}

/*Media Query - Code for screens <= 990px wide.*/
@media only screen and (max-width: 990px){
	
	li a {
		text-decoration: none;
		margin: 0px;
		padding: 5px;
	}
	
	#navbar {
		display: flex;
		justify-content:space-evenly;
		width: 100%;
		flex-wrap: wrap;
		max-height: 220px;
	}
	
	#cart2 {
		display: flex;
		justify-content: center;
		background-color: #143927;
		height: auto;
		width: 100%;
		padding-bottom: 10px;
		padding-top: 10px;
		font-size: 150%;
		cursor: pointer;
		transition: 0.3s;
	}
	
	#cart2:hover {
		color: black;
		background: #aae3bb;
	}
	
	#checkoutbox {
		display: flex;
		align-self: center;
		width: 70%;
		margin: 1%;
		margin-top: 20px;
		margin-bottom: 20px;
		flex-flow: column wrap;
		height: auto;
	}
	
	#shop {
		display: flex;
		justify-content:space-evenly;
		width: 80%;
		flex-wrap: wrap;
	}

	#footer {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 20px;
		background-image: url(Images/bgleaves.webp);
		height: auto;
		width: 100%;
	}
	
	.navbaritem {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline;
		font-size: 18px;
		border-radius:5px;
	}
	
	.linkleft {
		margin-right: 45px;
	}
	
	.container {
		display: flex;
		justify-content: space-around;
		background-color: white;
		width: 100%;
	}
	
	.shoptile {
		display: flex;
		width: 45%;
		margin: 1%;
		margin-top: 30px;
		margin-bottom: 30px;
		flex-direction: column;
	}
	
	.findoutmore {
		background: #143927;
		width: 100%;
		text-align: center;
		padding-top: 3%;
		padding-bottom: 3%;
		transition: 0.3s;
		cursor: pointer;
	}

	.footerrow {
		display: flex;
		flex-direction: column;
		padding: 5px;
		justify-content: space-evenly;
		height: auto;
		width: 100%;
	}

	.footerbox {
		background: #206040;
		width: 80%;
		padding: 10px;
		text-align: center;
		border-style: solid;
		border-width: 0px 13px 0px 13px;
		border-color: black;
		margin: auto;
	}
	
	.footerbox2 {
		background: #26734d;
		width: 80%;
		padding: 10px;
		text-align: center;
		border-style: solid;
		border-width: 0px 13px 0px 13px;
		border-color: black;
		margin: auto;
	}
	
	.copyright {
		display: flex;
		background: #26734d;
		width: 80%;
		padding: 10px;
		justify-content: center;
		text-align: center;
		border-style: solid;
		border-width: 0px 13px 0px 13px;
		border-color: black;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
	}
	
	.links {
		display: none;
		visibility: hidden;
		width: 0%;
	}
	
	.button-col {
		display: none;
		visibility: hidden;
		width: 0%;
	}
	
	.findoutmore:hover {
		color: black;
		background: #aae3bb;
	}
	
	.tooltip:hover .tooltiptext {
		visibility: hidden;
	}
	
}

/*Media Query - Code for screens >= 991px wide.*/
	@media only screen and (min-width: 991px){
		
	li a {
		text-decoration: none;
		margin: 0;
		padding: 5px;
	}
	
	#cart2 {
		display: none;
		visibility: hidden;
	}
	
	#checkoutbox {
		display: flex;
		align-self: center;
		width: 40%;
		margin: 1%;
		margin-top: 20px;
		margin-bottom: 20px;
		flex-flow: column wrap;
		height: auto;
	}

	#footer {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 20px;
		justify-content: space-evenly;
		background-image: url(Images/bgleaves.webp);
		height: auto;
		width: 100%;
	}
	
	.linkleft {
		margin-right: 30px;
	}
	
	.container {
		display: flex;
		background-color: white;
		width: 100%;
		flex-wrap: wrap;
	}
	
	.shoptile {
		display: flex;
		width: 25%;
		margin: 1%;
		margin-top: 20px;
		margin-bottom: 20px;
		flex-flow: column wrap;
	}
	
	.findoutmore {
		background: #143927;
		width: 100%;
		text-align: center;
		padding-top: 3%;
		padding-bottom: 3%;
		transition: 0.3s;
		cursor: pointer;
	}

	.footerrow {
		display: flex;
		padding: 5px;
		justify-content: center;
		height: auto;
		width: 100%;
	}

	.footerbox {
		background: #206040;
		width: 25.7%;
		padding: 5px;
		text-align: center;
		border-style: solid;
		border-width: 0px 13px 0px 13px;
		border-color: black;
	}
	
	.footerbox2 {
		background: #206040;
		width: 25.8%;
		padding: 5px;
		text-align: center;
		border-style: solid;
		border-width: 0px 0px 0px 0px;
		border-color: black;
	}

	.copyright {
		display: flex;
		background: #206040;
		width: 80%;
		padding: 15px;
		justify-content: center;
		border-style: solid;
		border-width: 0px 13px 0px 13px;
		border-color: black;
		margin-top: 10px;
	}
	
	.mobilebreak {
		display: none;
		visibility: hidden;
	}
	
	.button-col {
		text-align: center;
		height: 10%;
		width: 80%;
		margin: 2%;
		padding-top: 12%;
		color: White;
		background-color: #143927;
		align-self: center;
		transition: 0.3s;
	}
	
	.button-col:hover {
		background: #aae3bb;
		color: black;
	}

	.links {
		display: flex;
		flex-direction: column;
		width: 20%;
		padding-top: 2%;
	}
	
	.findoutmore:hover {
		color: black;
		background: #aae3bb;
	}
	
	.tooltip:hover .tooltiptext {
		visibility: visible;
	}

}